*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 20px 80px 60px 80px;
}

header h1{
    float: left;
}

header a{
    border: 1px solid #e76f51;
    text-decoration: none;
    border-radius: 4px;
    padding: 5px 15px;
    color: #e76f51;
    margin-top: 5px;
    float: right;
}

section{
    padding: 40px 80px;
}

section div{
    border: 1px solid black;
    border-radius: 4px;
    height: 150px;
    padding: 5px;
    width: 30%;
}

section p{
    margin: 5px 0px;
}